<link rel="stylesheet" href="/css/users_layout.css">

<h1> User Profile</h1>
<%if(user.id==profile_user.id){%>
    <form action="/users/update/<%= profile_user.id%>" method="POST">
        <input type="text" name="name" placeholder="Your Name" value="<%= profile_user.name %>" required>
        <input type="text" name="Email" placeholder="Your Email" value="<%= profile_user.email %>" required>
        <input type="submit" value="update">
    </form>
    <%}else{%>
        <%= profile_user.name %>
            <%= profile_user.email%>
                <%}%>